<!doctype html>
<html lang="en">
    <head>
        <title>Date Date Revolution</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <link rel="stylesheet" type="text/css" href={{url_for('static', filename="css/main.css")}}></link>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </head>
    <body>
        <div>
            <div class="fb-login-button" data-max-rows="1" data-size="large" 
            data-button-type="continue_with" data-show-faces="true" data-auto-logout-link="false" 
            data-use-continue-as="true" onlogin="checkLoginState();">
            </div>
        </div>

        <script>
            window.fbAsyncInit = function() {
                FB.init({
                appId      : '130602934361813',
                cookie     : true,
                xfbml      : true,
                version    : 'v2.10'
                });
                
                FB.AppEvents.logPageView();   
                
            };

            function statusChangeCallback(response) {
                console.log(response);
                if(response.status != 'connected') FB.login;
                else {
                    console.log("YES");
                    var token = response.authResponse.accessToken;
                    $.get('https://graph.facebook.com/me?access_token='+token+'&fields=id,name,email,picture', function(response) {
                        console.log(response);
                        id = response.id;
                        name = response.name;
                        window.location.replace('/ddr?id='+id+'&name='+name);
                    });
                    
                }
                
            }

            function checkLoginState() {
                FB.getLoginStatus(function(response) {
                    console.log(response);
                    statusChangeCallback(response);
                });
            }
            
            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
        </script>
    </body>
</html>